<nav class="navbar navbar-fixed bg-dark-blue navbar-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">NodeJS Login App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-expandend="false" aria-label="Toggle navigation" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link {{#if active.home}} active {{/if}}" href="/">Home</a></li>
        {{#if authorized}}
          <li class="nav-item">
            <a class="nav-link {{#if active.task}} active {{/if}}" href="/tasks">Tasks</a>
          </li>
        {{/if}}
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if authorized}}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{user.name}}</a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li>
              <a href="/profile" class="dropdown-item">Profile</a>
              <a href="/logout" class="dropdown-item">Logout</a>
            </li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item"><a class="nav-link {{#if active.login}} active {{/if}}" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link {{#if active.register}} active {{/if}}" href="/register">Register</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
