<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-med-dark-blue text-white">Login Project</div>
        <div class="card-body">
          <p>Hi there, welcome to my login project application. Feel free to navigate this page.</p>
          <a href="#" class="btn btn-outline-success">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
