<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <h3>All Tasks</h3>
    </div>
  </div>
  <div class="row">
    {{#each tasks}}
      <div class="col-lg-4">
        <div class="card mb-3">
          <div style="height: 38px;" class="card-header bg-med-dark-blue text-white overflow-hidden">
            <div class="card-title my-0">{{this.task_name}}</div>
          </div>
          <div style="height: 100px;" class="card-body overflow-auto">
            {{this.description}}
          </div>
          <div class="card-footer">
            By <strong>{{this.user_name}}</strong> {{ this.created_at }}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
